# Ignore node_modules directory
node_modules/

# Ignore pnpm specific lock file
pnpm-lock.yaml

# Ignore the .pnp directory created by pnpm (optional, depending on your setup)
.pnp/

# Ignore dist directory if you have build outputs there
dist/

# Ignore logs
logs
*.log

# Ignore temporary files
*.tmp
*.temp